# 生成时间区间

In [1]:
import pandas as pd

date_range = pd.date_range(start='1/1/2018', end='1/08/2018', freq='H')

In [3]:
date_range

DatetimeIndex(['2018-01-01 00:00:00', '2018-01-01 01:00:00',
               '2018-01-01 02:00:00', '2018-01-01 03:00:00',
               '2018-01-01 04:00:00', '2018-01-01 05:00:00',
               '2018-01-01 06:00:00', '2018-01-01 07:00:00',
               '2018-01-01 08:00:00', '2018-01-01 09:00:00',
               ...
               '2018-01-07 15:00:00', '2018-01-07 16:00:00',
               '2018-01-07 17:00:00', '2018-01-07 18:00:00',
               '2018-01-07 19:00:00', '2018-01-07 20:00:00',
               '2018-01-07 21:00:00', '2018-01-07 22:00:00',
               '2018-01-07 23:00:00', '2018-01-08 00:00:00'],
              dtype='datetime64[ns]', length=169, freq='H')

In [4]:
df = pd.DataFrame(date_range, columns=['date'])

In [7]:
import numpy as np

df['data'] = np.random.randint(0, 100, size=len(date_range))
df.head(15)

                  date  data
0  2018-01-01 00:00:00    31
1  2018-01-01 01:00:00    49
2  2018-01-01 02:00:00     7
3  2018-01-01 03:00:00    92
4  2018-01-01 04:00:00    35
5  2018-01-01 05:00:00     1
6  2018-01-01 06:00:00    15
7  2018-01-01 07:00:00    69
8  2018-01-01 08:00:00    78
9  2018-01-01 09:00:00    42
10 2018-01-01 10:00:00    30
11 2018-01-01 11:00:00    78
12 2018-01-01 12:00:00    88
13 2018-01-01 13:00:00    68
14 2018-01-01 14:00:00    16

# 获取粗力度时间类别

In [15]:
df['date'][0].month
df['date'][0].day
df['date'][0].hour
df['date'][0].quarter
df['date'][0].weekday()

0

# 对时间进行修改

In [10]:
df['date'][0] + pd.Timedelta(days=1)

Timestamp('2018-01-02 00:00:00')

# 时间间隔的计算

In [20]:
df['date'][1] - df['date'][0]

Timedelta('0 days 01:00:00')

In [21]:
(df['date'][1] - df['date'][0]).days

0

In [23]:
td = df['date'][1] - df['date'][0]

In [24]:
td.seconds
hours, remainder = divmod(td.seconds, 3600)
minutes, seconds = divmod(remainder, 60)